@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar globally */
::-webkit-scrollbar {
  display: none;
}

:root {
  --color-bg: #F0F1FA;
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.nav_btn_lg {
  @apply rounded-full px-5 h-10 font-[600] text-sm mx-2 font-AeonikMedium;
}
.nav_btn_dark {
  @apply bg-[#2B2E3A] text-[#D4D5D7];
}
.nav_btn_light {
  @apply text-[#2B2E3A] bg-brgray;
}

.nav_btn_sm {
  @apply rounded-full bg-[#E4E6EF] text-[#2B2E3A]  w-10 h-10 mx-2;
}

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/Aeonik/Aeonik-Regular.otf") format("opentype");
}
@font-face {
  font-family: "AeonikBold";
  src: url("/fonts/Aeonik/Aeonik-Bold.otf") format("opentype");
}
@font-face {
  font-family: "AeonikMedium";
  src: url("/fonts/Aeonik/Aeonik-Medium.otf") format("opentype");
}

.container {
  margin: 0 auto;
  width: 250px;
  height: 200px;
  position: relative;
  perspective: 1000px;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.item {
  display: block;
  position: absolute;
  background: #000;
  width: 400px;
  height: 100px;
  line-height: 200px;
  font-size: 5em;
  text-align: center;
  color: #fff;
  opacity: 0.95;
  border-radius: 10px;
}

.a {
  transform: rotateX(0deg) translateZ(250px);
  background: #ed1c24;
}
.b {
  transform: rotateX(60deg) translateZ(250px);
  background: #0072bc;
}
.c {
  transform: rotateX(120deg) translateZ(250px);
  background: #39b54a;
}
.d {
  transform: rotateX(180deg) translateZ(250px);
  background: #f26522;
}
.e {
  transform: rotateX(240deg) translateZ(250px);
  background: #630460;
}
.f {
  transform: rotateX(300deg) translateZ(250px);
  background: #8c6239;
}

.card-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  animation: floating 3s infinite ease-in-out;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
  border-radius: 20px;
  overflow: hidden;
  will-change: transform;
  transform-style: preserve-3d;
}
.flip-card-back {
  transform: rotateY(180deg);
}

@keyframes floating {
  0% {
    transform: translate3d(-50%, -50%, 0);
  }
  50% {
    transform: translate3d(-50%, -60%, 0);
  }
  100% {
    transform: translate3d(-50%, -50%, 0);
  }
}

.animate-floating {
  animation: floating 3s infinite ease-in-out;
}

.card-logo:hover {
  filter: invert();
}

@keyframes ripple {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
  }
  50% {
    transform: translate3d(2%, 3%, 0) scale(1.02);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
  }
}

@keyframes wave {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -8px, 0); /* height of the bounce */
  }
}

.animate-wave {
  display: inline-block;
  animation: wave 2s ease-in-out infinite;
}

#header-right-talk-btn,
#header-right-menu-btn {
  font-size: 0.875em;
  font-family: "AeonikMedium";
  border-radius: 6.25em;
  padding: 0 1.125em 0 1.625em;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  transform: scale(0);
  transition: color 0.4s, background-color 0.4s;
  height: 3.2em;
  cursor: pointer;
}
@media (max-width: 812px) {
  #header-right-talk-btn,
  #header-right-menu-btn {
    position: relative;
    width: 3.2em;
    padding: 0;
    transform: none;
  }
}
#header-right-talk-btn-placeholder {
  border: none;
  position: absolute;
  font-size: 0.875em;
  border-radius: 6.25em;
  height: 3.2em;
  width: 9.5em;
  left: 4.5em;
  visibility: hidden;
  padding: 0;
}
@media (max-width: 812px) {
  #header-right-talk-btn-placeholder {
    width: 3.2em;
  }
}
#header-right-talk-btn {
  left: 4.5em;
  background: #2b2e3a;
  transition: color 0.4s, background-color 0.4s;
  overflow: hidden;
  color: #fff;
}
#header-right-talk-btn a {
  position: absolute;
  inset: 0;
  z-index: 1;
}
@media (max-width: 812px) {
  #header-right-talk-btn {
    left: -4.5em;
  }
}
@media (hover: hover) {
  #header-right-talk-btn:not(.--is-contact-active):hover {
    background: rgb(242, 48, 132);
    color: #fff;
  }
  #header-right-talk-btn:not(.--is-contact-active):hover
    #header-right-talk-btn-dots {
    transform: scale(0) translateZ(0);
  }
  #header-right-talk-btn:not(.--is-contact-active):hover
    #header-right-talk-btn-text {
    transform: translate3d(1.5em, 0, 0);
  }
  #header-right-talk-btn:not(.--is-contact-active):hover
    #header-right-talk-btn-arrow {
    transform: translateZ(0);
  }
}
@media (hover: hover) {
  #header-right-talk-btn.--is-contact-active:hover {
    background: rgb(242, 48, 132);
  }
  #header-right-talk-btn.--is-contact-active:hover #header-contact-close-svg {
    transform: translate3d(-50%, -50%, 0) rotate(180deg);
  }
}
#header-right-talk-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.625em;
  white-space: nowrap;
}
#header-right-talk-btn-text {
  transition: transform cubic-bezier(0.4, 0, 0.1, 1) 0.3s;
}
#header-right-talk-btn-arrow {
  position: relative;
  top: calc(50% - 0.5em);
  left: 1.2em;
  transform: translate3d(-2.5em, 0, 0);
  position: absolute;
  width: 1em;
  height: 1em;
  transition: transform cubic-bezier(0.4, 0, 0.1, 1) 0.3s;
}
#header-right-talk-btn-arrow svg {
  width: 100%;
  height: 100%;
}
#header-right-talk-btn-dots {
  position: relative;
  width: 1.15em;
  height: 1.15em;
  transition: transform cubic-bezier(0.4, 0, 0.1, 1) 0.1s;
  transform: scale(0.9) translateZ(0);
}
.header-right-talk-btn-dot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 0.3125em;
  height: 0.3125em;
  background: #fff;
  border-radius: 100%;
}

/* Menu Button */

#header-right-menu-btn {
  background: #e4e6ef;
  color: #000;
}
@media (hover: hover) {
  #header-right-menu-btn:hover {
    background: #fff;
    color: #000;
  }
  #header-right-menu-btn:hover #header-right-menu-btn-dots {
    transform: translateY(-0.1em) translateZ(0) rotate(270deg);
  }
}
#header-right-menu-btn.--opened {
  color: #000;
  background: #fff;
}
#header-right-menu-btn.--opened #header-right-menu-btn-dots {
  transform: translateY(-0.1em) translateZ(0) rotate(270deg);
}
@media (max-width: 812px) {
  #header-right-menu-btn.--opened #header-right-menu-btn-dots {
    transform: translate(0.05em) translateY(-0.1em) translateZ(0) rotate(270deg);
  }
}
#header-right-menu-btn.--opened #header-right-menu-btn-text {
  transform: translate3d(0, -100%, 0);
}
#header-right-menu-btn.--opened #header-right-menu-btn-text-close {
  transform: translateZ(0);
}
#header-right-menu-btn-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: transparent;
  overflow: hidden;
  gap: 0.625em;
}
@media (max-width: 812px) {
  #header-right-menu-btn-inner {
    right: 0.1em;
  }
}
#header-right-menu-btn-text {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.1, 1);
  line-height: 1.2em;
}
@media (max-width: 812px) {
  #header-right-menu-btn-text {
    display: none;
  }
}
#header-right-menu-btn-text-close {
  position: absolute;
  transform: translate3d(0, 100%, 0);
  left: 0;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.1, 1);
}
@media (max-width: 812px) {
  #header-right-menu-btn-text-close {
    display: none;
  }
}
#header-right-menu-btn-dots {
  position: relative;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.1, 1);
  transform: translateZ(0) rotate(180deg);
  width: 1.15em;
  height: 1.15em;
}
@media (max-width: 812px) {
  #header-right-menu-btn-dots {
    font-size: 1.4em;
  }
}
#header-right-menu-btn-dots .header-right-menu-btn-dot {
  position: absolute;
  display: inline-block;
  width: 5px;
  height: 5px;
  background: currentColor;
  border-radius: 100%;
  transition: background-color 0.4s;
  transform: translateY(-50%);
}
#header-right-menu-btn-dots .header-right-menu-btn-dot:first-child {
  left: 0.1em;
  top: 50%;
}
#header-right-menu-btn-dots .header-right-menu-btn-dot:last-child {
  right: 0.1;
  top: 50%;
}

/* H4 */

#home-reel-title {
  position: relative;
  font-size: 10vw;
  left: -0.03em;
  letter-spacing: -0.02em;
  grid-column: 1 / span 12;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1;
  will-change: transform;
  width: 100%;
}
@media (min-aspect-ratio: 21/9) {
  #home-reel-title {
    font-size: 6.7vw;
  }
}
@media (max-width: 812px) {
  #home-reel-title {
    grid-column: 1 / span 6;
    font-size: 13.8vw;
    margin-bottom: 1em;
  }
}
@media (max-width: 480px) {
  #home-reel-title {
    font-size: 20vw;
  }
}
#home-reel-title .word {
  position: relative;
  bottom: 0.1em;
}
#home-reel-title-inner {
  display: inline-block;
  position: relative;
  width: 100%;
}
#home-reel-title-inner > div {
  overflow: hidden;
}
@media (max-width: 812px) {
  #home-reel-title-inner > div {
    overflow: visible;
  }
}
#home-reel-title-line-1 {
  padding-left: calc(var(--grid-space) * 2 + var(--grid-gap) * 2);
}
@media (max-width: 812px) {
  #home-reel-title-line-1 {
    padding-left: 0;
  }
}

/* Container */
.home-reel-title-line-wrapper {
  width: 100%;
}
.home-reel-title {
  overflow: hidden;
  display: inline-block;
}

.home-reel-title-inner {
  position: relative;
  display: inline-block;
}

.home-reel-title-line {
  display: block;
  position: relative;
  will-change: transform, opacity;
}

/* Initial positions (REVERSED) */

/* Initial state (no visible class) */
.home-reel-title-line-1 {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
  backface-visibility: hidden;
}

.home-reel-title-line-2 {
  opacity: 0;
  transform: translate3d(0, -100%, 0);
  backface-visibility: hidden;
}

/* Only when visible → run animations */
.home-reel-title--visible .home-reel-title-line-1 {
  animation: line1-enter-and-slide 1.4s ease forwards;
}

.home-reel-title--visible .home-reel-title-line-2 {
  animation: line2-enter 0.8s ease forwards;
}

/* Keyframes */

/* Line 1: bottom → center → slide right */
@keyframes line1-enter-and-slide {
  0% {
    opacity: 0;
    transform: translate3d(0, 120%, 0);
  }
  40% {
    opacity: 1;
    transform: translate3d(0, 0, 0); /* reach center */
  }
  60% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(16%, 0, 0); /* slide right */
    opacity: 1;
  }
}

/* Line 2: top → center */
@keyframes line2-enter {
  0% {
    opacity: 0;
    transform: translate3d(0, -120%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* Dot Button CSS: Januka */

#home-reel-cta {
  display: flex;
  position: relative;
  float: left;
  overflow: hidden;
  padding: 1em 1.5em 1em 1.625em;
  align-items: center;
  gap: 1em;
  border-radius: 5.3125em;
  font-size: clamp(0.875rem, 1vw, 1.75rem);
  background: #fff;
  font-family: "Aeonik";
  text-transform: uppercase;
  width: fit-content;
  height: 3.375em;
  font-weight: 500;
  color: #000;
  grid-column: 7 / span 6;
  box-shadow: 0 6px 10px #0000000a, 0 2px 4px #0000000a;
  transition: background cubic-bezier(0.35, 0, 0, 1) 0.2s;
  will-change: transform;
  cursor: pointer;
}

.black-btn {
  background: #000 !important;
  color: #fff !important;
}

.black-btn #home-reel-cta-dot {
  background: #fff;
  box-shadow: none;
}

@media (max-width: 812px) {
  #home-reel-cta {
    opacity: 1;
    margin-bottom: 6em;
    margin-top: 3em;
  }
}
@media (hover: hover) {
  #home-reel-cta:hover {
    color: #fff;
    background: rgb(242, 48, 132);
    transition: background cubic-bezier(0.35, 0, 0, 1) 0.5s 0.3s;
  }
  #home-reel-cta:hover #home-reel-cta-text {
    transform: translate3d(-1.5em, 0, 0);
  }
  #home-reel-cta:hover #home-reel-cta-dot {
    transform: translate3d(3em, 0, 0) scale(20);
    background: rgb(242, 48, 132);
  }

  #home-reel-cta:hover.black-btn #home-reel-cta-dot {
    transform: translate3d(3em, 0, 0) scale(80);
    background: rgb(242, 48, 132);
  }

  #home-reel-cta:hover.free-discovery-call-btn #home-reel-cta-dot {
    transform: translate3d(3em, 0, 0) scale(40);
    background: rgb(242, 48, 132);
  }
  
  #home-reel-cta:hover.see-all-projects-btn #home-reel-cta-dot {
    transform: translate3d(3em, 0, 0) scale(40);
    background: rgb(242, 48, 132);
  }

  #home-reel-cta:hover #home-reel-cta-arrow {
    transform: translateZ(0);
  }
  #home-reel-cta:hover #home-reel-cta-arrow svg {
    color: #fff;
  }
}
#home-reel-cta-dot {
  display: inline-block;
  position: relative;
  width: 0.5em;
  height: 0.5em;
  background: #000;
  border-radius: 100px;
  z-index: 1;
  transition: background cubic-bezier(0.35, 0, 0, 1) 0.5s,
    transform cubic-bezier(0.35, 0, 0, 1) 0.4s;
}
#home-reel-cta-text {
  position: relative;
  z-index: 1;
  transition: color cubic-bezier(0.35, 0, 0, 1) 0.5s,
    transform cubic-bezier(0.35, 0, 0, 1) 0.4s;
}
#home-reel-cta-arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 1em;
  height: 1.2em;
  width: 1.2em;
  color: #fff;
  border-radius: 100%;
  transform: translate3d(3em, 0, 0);
  transition: transform cubic-bezier(0.4, 0, 0, 1) 0.4s;
  z-index: 1;
}
#home-reel-cta-arrow svg {
  transition: color 0.5s;
  width: 100%;
  height: 100%;
}

/* AI section */
#home-goal-title {
  position: relative;
  line-height: 1;
  grid-column: 1 / span 12;
  font-size: 8vw;
  letter-spacing: -0.01em;
  left: -0.068em;
  width: 11em;
  will-change: transform;
}
@media (min-aspect-ratio: 21/9) {
  #home-goal-title {
    font-size: 5.3vw;
  }
}
@media (max-width: 812px) {
  #home-goal-title {
    grid-column: 1 / span 6;
    font-size: 10vw;
    width: inherit;
    margin-top: 0;
  }
}
@media (max-width: 560px) {
  #home-goal-title {
    width: 100%;
    font-size: 16vw;
    margin-top: 0.2em;
  }
}
#home-goal-title .line {
  position: relative;
  bottom: 0.135em;
}
#home-goal-texts {
  position: absolute;
  left: 0;
  top: 0;
  grid-column: 8 / 12;
  line-height: 1.4;
  font-size: 1.5em;
}
@media (min-aspect-ratio: 21/9) {
  #home-goal-texts {
    grid-column: 8 / 11;
  }
}
@media (max-width: 812px) {
  #home-goal-texts {
    position: relative;
    grid-column: 1 / 7;
    grid-column: 1 / span 6;
    margin-top: 3em;
    margin-bottom: 4em;
    font-size: 1.125em;
  }
}
.home-goal-texts-paragraph:not(:first-child) {
  margin-top: 1em;
}
#home-goal-image-in-outer {
  grid-column: 1 / 7;
  position: relative;
}
@media (max-width: 812px) {
  #home-goal-image-in-outer {
    grid-column: 1 / span 6;
    top: 0;
  }
}
#home-goal-image-in-inner {
  position: relative;
  height: 0;
  width: calc(100% + var(--grid-gap));
  padding-top: calc((100% + var(--grid-gap)) * 1080 / 1496);
}
@media (max-width: 812px) {
  #home-goal-image-in-inner {
    width: 100%;
  }
}
#home-goal-image-in {
  position: absolute;
  left: 3.9%;
  top: 5.4%;
  width: 92.5%;
  height: 89.5%;
}
#home-goal-image-out-outer {
  position: relative;
  grid-column: 2 / 12;
}
@media (max-width: 812px) {
  #home-goal-image-out-outer {
    grid-column: 1 / span 6;
    top: 0;
  }
}
#home-goal-image-out-inner {
  position: relative;
  width: calc(100% + var(--grid-gap) * 2);
  left: calc(var(--grid-gap) * -1);
  padding-top: calc((100% + var(--grid-gap) * 2) * 1537 / 2000);
}
@media (max-width: 812px) {
  #home-goal-image-out-inner {
    width: 100%;
    left: 0;
  }
}
#home-goal-image-out {
  position: absolute;
  left: 2.2%;
  top: 2.8%;
  width: 95.7%;
  height: 70.2%;
}
#home-goal-tunnel-title {
  position: relative;
  left: 0;
  width: 100%;
  grid-column: 1 / span 12;
  height: 0;
  text-align: center;
  font-size: 6vw;
  color: var(--color-white);
  text-transform: uppercase;
}
@media (max-width: 812px) {
  #home-goal-tunnel-title {
    top: 0;
    grid-column: 1 / span 6;
  }
}
.home-goal-tunnel-title-line span {
  display: inline-block;
  position: relative;
  margin: 0 0.25ch;
}

/* Initial state: offscreen to the right */
.home-goal-title-line-1,
.home-goal-title-line-2,
.home-goal-title-line-3 {
  opacity: 0;
  transform: translateX(10%);
}

/* When visible → slide in */
.home-goal-title--visible .home-goal-title-line-1 {
  animation: line1-enter 1.2s ease forwards;
}

.home-goal-title--visible .home-goal-title-line-2 {
  animation: line2-enter 0.8s ease 0.4s forwards;
}

.home-goal-title--visible .home-goal-title-line-3 {
  animation: line3-enter 0.8s ease 0.8s forwards;
}

/* Keyframes sliding from right */
@keyframes line1-enter {
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes line2-enter {
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes line3-enter {
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* scroll */
#scroll-indicator {
  position: fixed;
  width: 6px;
  height: calc(var(--vh, 1vh) * 20);
  top: calc(var(--vh, 1vh) * 40);
  right: 16px;
  background-color: #0000001a;
  border-radius: 999px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 9999;
  overflow: hidden;
}

@media (max-width: 812px) {
  #scroll-indicator {
    width: 2px;
    right: 6px;
  }
}

#scroll-indicator-bar {
  position: absolute;
  width: 100%;
  height: calc(var(--vh, 1vh) * 4); /* short moving bar */
  background-color: var(--color-black, #000);
  border-radius: 999px;
  top: 0;
  transform: translate3d(0, 0, 0);
  transition: transform 0.1s linear; /* smooth movement */
  will-change: transform;
}

/* Performance optimizations for animated elements */
.squigggle,
.squigggle path {
  will-change: stroke-dashoffset;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.card,
.flip-card-inner {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.project-card,
.project-card img {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

/* Contain layout for animated sections */
#service-cards,
#feature-work,
#beoynd-visions {
  contain: layout style paint;
}

/* Optimize scroll indicator */
#scroll-indicator {
  contain: layout style;
}
